body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

button {
  display: block;
  width: 100%;
}


.timer {
  background-color: rgb(159, 248, 214);
  height: 100vh;
  width: 100vw;
}

.time {
  display: flex;
  justify-content: center;
}

.unit {
  display: flex;
  flex-direction: column-reverse;
}

.unit__title {
  text-align: center;
}

input {
  background-color: #fff;
  border: none;
  font-family: monospace;
  font-size: 5em;
  text-align: right;
  width: 2em;
  margin: 15px;
}

.option,
.optionActive {
  cursor: pointer;
}

.optionActive span::before {
  display: inline;
  content: '✓'
}